<div class="intro">
    <div class="container-fluid">
        <div>
            <input type="file" accept=".txt,.json,.md" style="display: none" #file (change)="browseText($event)" />
            <button type="button" class="btn" (click)="file.click()"> Upload </button>
            <button type="button" class="btn" (click)="onSubmit()"> Submit </button>
            <button type="button" class="btn" (click)="clearText()"> Clear </button>

            <!-- <input id="checkbox" type="checkbox"/><label for="checkbox">Left</label>
            <input id="checkbox" type="checkbox"/><label for="checkbox">Right</label> -->

            <!-- <label class="checkbox-inline">
                <input type="checkbox" id="leftCheckbox" value="" checked="checked">Left
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="rightCheckBox" value="">Right
            </label> -->

            <label class="radio-inline">
                <input name="radioGroup" id="radio1" value="option1" type="radio" checked=""> Left
            </label>
            <label class="radio-inline">
                <input name="radioGroup" id="radio2" value="option2" type="radio"> Right
            </label>

            <!-- <label class="checkbox-inline">
                <input type="checkbox" id="leftCheckbox" value="" checked="checked" (change)="onClickLeft($event)">Left
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="rightCheckBox" value="">Right
            </label> -->

            <!-- <input type="submit" value="Submit" (click)="copyText()">
            <input type="submit" value="Clear" (click)="clearText()"> -->
        </div>

        <div class="center">


            <file-drop customstyle="filedrop" id="drop-zone" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <span>
                    <font color="white">Drop files here</font>
                </span>
            </file-drop>


            <!-- <div class="upload-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                        <tr *ngFor="let item of files; let i=index">
                            <td><strong>{{ item.relativePath }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>

        <!-- <div flex fxLayout="row" fxLayout.lt-sm="column" >
            <div fxFlex="100"> 
                <form action="/action_page.php" class="form">
                  <textarea class="form-control" [(ngModel)]="sa" name="sa" placeholder="Input your text here..."></textarea>
                </form>
            </div>
        </div>
      
        <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap = "20px"> 
            <div fxFlex="50"> 
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ba" name="ba"></textarea>
                </form>
            </div>
      
            <div fxFlex="50">
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ba" name="ba"></textarea>
                </form>
            </div>
        </div>
      
        <div flex fxLayout="row" fxlayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50">
                  <p align="left" id="demo"></p>
            </div>
            <div fxFlex="50">
                  <p align="right" >This is some text in a paragraph.</p>
            </div>
        </div> -->





        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form action="/action_page.php" class="form">
                    <textarea class="form-control" [(ngModel)]="topTextArea" name="topTextArea" placeholder="Input your text here..."></textarea>
                </form>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-6">
                <p class ="timeLabel" id="timeLeft">Time taken:</p>
            </div>
            <div class="col-sm-6">
                <p class ="timeLabel" id="timeRight">Time taken:</p>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6">
                <p class="timeLabel" id="timeLeft">Time taken:</p>
                <form novalidate class="simple-form">
                    <textarea class="form-control" [(ngModel)]="leftTextArea" name="leftTextArea"></textarea>
                </form>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-6">
                <p class="timeLabel" id="timeRight">Time taken:</p>
                <form novalidate class="simple-form">
                    <textarea id="rightTextArea" class="form-control" [(ngModel)]="rightTextArea" name="rightTextArea"></textarea>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p align="left" id="demo"></p>
            </div>
            <!-- <div class="col-sm-12 col-md-12 col-lg-6">
                  <p align="right" >This is some text in a paragraph.</p>
            </div> -->
        </div>

    </div>
</div>