<div class="intro">
    <div class="container-fluid">
        <div> 
            <input type="file" accept=".txt,.json,.md"  style="display: none" #file (change)="browseText($event)"/>
            <button type="button" class="btn" (click)="file.click()"> Upload </button>
            <button type="button" class="btn" (click)="onSubmit()"> Submit </button>
            <button type="button" class="btn" (click)="clearText()"> Clear </button>

            <!-- <input id="checkbox" type="checkbox"/><label for="checkbox">Left</label>
            <input id="checkbox" type="checkbox"/><label for="checkbox">Right</label> -->

            <label class="checkbox-inline">
                <input type="checkbox" id="leftCheckbox" value="" checked="checked">Left
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="rightCheckBox" value="">Right
            </label>

            <!-- <label class="checkbox-inline">
                <input type="checkbox" id="leftCheckbox" value="" checked="checked" (change)="onClickLeft($event)">Left
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="rightCheckBox" value="">Right
            </label> -->

            <!-- <input type="submit" value="Submit" (click)="copyText()">
            <input type="submit" value="Clear" (click)="clearText()"> -->
        </div>
      
        <!-- <div flex fxLayout="row" fxLayout.lt-sm="column" >
            <div fxFlex="100"> 
                <form action="/action_page.php" class="form">
                  <textarea class="form-control" [(ngModel)]="sa" name="sa" placeholder="Input your text here..."></textarea>
                </form>
            </div>
        </div>
      
        <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap = "20px"> 
            <div fxFlex="50"> 
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ba" name="ba"></textarea>
                </form>
            </div>
      
            <div fxFlex="50">
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ba" name="ba"></textarea>
                </form>
            </div>
        </div>
      
        <div flex fxLayout="row" fxlayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50">
                  <p align="left" id="demo"></p>
            </div>
            <div fxFlex="50">
                  <p align="right" >This is some text in a paragraph.</p>
            </div>
        </div> -->

        



        <div class="row" >
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form action="/action_page.php" class="form">
                  <textarea class="form-control" [(ngModel)]="sa" name="sa" placeholder="Input your text here..."></textarea>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p class ="timeLabel" id="timeLeft">Time taken:</p>
            </div>
            <div class="col-sm-6">
                <p class ="timeLabel" id="timeRight">Time taken:</p>
            </div>
        </div>
      
        <div class="row"> 
            <div class="col-md-12 col-sm-12 col-lg-6"> 
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ba" name="ba"></textarea>
                </form>
            </div>
      
            <div class="col-md-12 col-sm-12 col-lg-6">
                <form novalidate class="simple-form">
                      <textarea class="form-control" [(ngModel)]="ca" name="ba"></textarea>
                </form>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                  <p align="left" id="demo"></p>
            </div>
            <!-- <div class="col-sm-12 col-md-12 col-lg-6">
                  <p align="right" >This is some text in a paragraph.</p>
            </div> -->
        </div>
      
      </div>
</div>
