<div class="intro">
  <div class="container-fluid">

    <!-- <div class="form-group row">
      <label for="inputPassword" class="col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div> -->

    <div class="form-horizontal">

      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">First</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="first" placeholder="First">
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Third</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="third" placeholder="Third">
        </div>
      </form>


      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">Second</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="second" placeholder="Second">
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Fourth</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="fourth" placeholder="Fourth">
        </div>
      </form>


      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">Date</label>
        <div class="col-sm-2">
          <ngbd-datepicker-popup></ngbd-datepicker-popup>
          <!-- <input type="text" class="form-control" id="date" placeholder="Date"> -->
        </div>

        <div class="col-sm-3">
          <!-- <input type="text" class="form-control" id="fifth" placeholder="Fifth"> -->
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Fifth</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="fifth" placeholder="Fifth">
          <p align="center" id="demo">Dynamic Label</p>
        </div>
      </form>

    </div>


    <!-- <form>
      <div class="form-group form-inline row">
        <label for="exampleFormControlFile1">input</label>
        <input type="text" class="form-control" id="exampleFormControlFile1" placeholder="Test">
      </div>
    </form> -->

    <!-- <div class="forms">

      <div class="form-group row">
        <label class="col-sm-1 col-form-label">First</label>
        <div class="col-sm-5 inputField">
          <input type="text" class="form-control" id="first" placeholder="First">
        </div>
      </div>



      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Second</label>
        <div class="col-sm-5 inputField">
          <input type="text" class="form-control" id="second" placeholder="Second">
        </div>
      </div>



      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Date</label>
        <div class="col-sm-2 dateField">
          <input type="text" class="form-control" id="date" placeholder="Date">
        </div>
      </div>


    </div> -->
    <!-- <div class="row">
      <p align="center" id="demo">Dynamic Label</p>
    </div> -->

    <button type="button" class="btn" (click)="onClickButton()"> Button </button>


    <!-- <div class="row text-center">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn"> Button </button>
          </div>
      
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn"> Button </button>
          </div>
      
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn"> Button </button>
          </div> 
      
        </div> -->


    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <form action="/action_page.php" class="form">
          <textarea class="form-control" id="mainTextArea"></textarea>
        </form>
      </div>
    </div>

  </div>
</div>