<div class="intro">
    <div class="container-fluid">

        <div class="row text-center">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <!-- <button type="button" class="btn" (click)="showHide=!showHide" id="button1"> Show </button> -->
            <button type="button" class="btn" (click)="changeStatus()" id="button1"> Show </button>
          </div>
      
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn"> Button </button>
          </div>
      
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn"> Button </button>
          </div> 
      
        </div>

        <div class="table-responsive" *ngIf="showHide">
          <table class="table table-striped table-hover">
            <tr>
              <th *ngFor="let col of columns">{{col}}</th>
            </tr>
            <tr *ngFor="let user of users$">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.website}}</td>
            </tr>
          </table>
        </div>



        <!-- <div class="row" >
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form action="/action_page.php" class="form">
                  <textarea class="form-control"></textarea>
                </form>
            </div>
        </div>
        -->
      </div>
</div>
