<div class="intro">
  <div class="container-fluid">

    <!-- <div class="row text-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <button type="button" class="btn" (click)="changeStatus()" id="button1"> Show </button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <button type="button" class="btn"> Button </button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <button type="button" class="btn"> Button </button>
      </div>

    </div> -->

    <div flex fxLayout="row">
      <div fxFlex="33" fxLayoutAlign="center">
        <button mat-raised-button [(ngModel)]="showHideBtn" (click)="changeStatus()" color="primary">{{showHide ? 'Hide':'Show'}}</button>
      </div>
      <div fxFlex="33" fxLayoutAlign="center">
        <button mat-raised-button color="primary">Button</button>
      </div>
      <div fxFlex="33" fxLayoutAlign="center">
        <button mat-raised-button color="primary">Button</button>
      </div>
    </div>

    <!-- <div class="table-responsive table-dark" *ngIf="showHide">
      <table class="table table-striped table-hover">
        <tr>
          <th *ngFor="let col of columns">{{col}}</th>
        </tr>
        <tr *ngFor="let user of users$">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.website}}</td>
        </tr>
      </table>
    </div> -->

    <table mat-table [dataSource]="users$" class="mat-elevation-z8" *ngIf="showHide">


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef> Website </th>
        <td mat-cell *matCellDef="let element"> {{element.website}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

  </div>
</div>