<!-- <div class="intro">
  <div class="container-fluid">


    <div class="form-horizontal">

      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">First</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="first" placeholder="First">
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Third</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="third" placeholder="Third">
        </div>
      </form>


      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">Second</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="second" placeholder="Second">
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Fourth</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="fourth" placeholder="Fourth">
        </div>
      </form>


      <form class="form-group row">
        <label class="col-sm-1 col-md-1 col-form-label">Date</label>
        <div class="col-sm-2">
          <ngbd-datepicker-popup [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}"></ngbd-datepicker-popup>
        </div>

        <div class="col-sm-3">
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Fifth</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="fifth" placeholder="Fifth">
          <p align="center" id="demo">{{selectedDate}}</p>
        </div>
      </form>

    </div>


    <button type="button" class="btn" (click)="onClickButton()"> Button </button>


    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <form action="/action_page.php" class="form">
          <textarea class="form-control" id="mainTextArea"></textarea>
        </form>
      </div>
    </div>

  </div>
</div> -->


<div class="intro">
  <div class="container-fluid">

    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="50">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First" [(ngModel)]="first">
        </mat-form-field>
      </div>

      <div fxFlex="50">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Second" [(ngModel)]="second">
        </mat-form-field>
      </div>
    </div>

    <div flex fxLayout="row" fxlayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Third" [(ngModel)]="third">
        </mat-form-field>
      </div>

      <div fxFlex="50">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Fourth" [(ngModel)]="fourth">
        </mat-form-field>
      </div>
    </div>

    <div flex fxLayout="row" fxlayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50">
        <mat-form-field class="example-datepicker">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="50">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Fifth" [(ngModel)]="fifth">
        </mat-form-field>
      </div>
    </div>

    <div flex flex-layout="row" fxlayout.lt-sm="column" fxLayout.lt-md="column">
      <div fxFlex="60">

      </div>
      <div fxFlex="40">
        <p align="center" id="demo" [(ngModel)]="dynamicLabel" ngDefaultControl>{{this.dynamicLabel}}</p>
      </div>

    </div>

    <div class="button-row">
      <button mat-raised-button (click)="onClickButton()">Primary</button>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <form action="/action_page.php" class="form">
          <textarea class="form-control" id="mainTextArea"></textarea>
        </form>
      </div>
    </div>

  </div>
</div>