/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    height: 100%;
    /* display: inline-flex; */
    margin:0; padding:0; 
}

::ng-deep  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: orange;
}

::ng-deep  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: orange;
}

::ng-deep  .mat-radio-button.mat-accent.mat-radio-ripple .mat-ripple-element {
    background-color: rgba(#4f9182, 0.26);
}
