<div class="intro">
    <div class="container-fluid">

        <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxFlex="33" fxLayoutAlign="center">
                <button mat-raised-button (click)="changeStatus()" color="primary">Sandbox</button>
            </div>
            <div fxFlex="33" fxLayoutAlign="center">
                <button mat-raised-button color="primary">Button</button>
            </div>
            <div fxFlex="33" fxLayoutAlign="center">
                <button mat-raised-button color="primary">Button</button>
            </div>
        </div>

        <div class="responsive_table">
            <ng2-smart-table [settings]="settings" [source]="users$" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
        </div>

    </div>
</div>